<a href="https://colab.research.google.com/github/Bhandari007/EPL_Analysis/blob/main/EPL_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Analysis on English Premier League
> This notebook contains analysis on English Premier League. It is the highest level of men's football league points. You can find more information regarding by clicking below:<br><a href = "https://en.wikipedia.org/wiki/Premier_League">More Information</a> <br>

# Data Collection
I have downloaded the data using the Kaggle API.
It is available on <a href = "https://www.kaggle.com/datasets/evangower/premier-league-matches-19922022?select=eplmatches.csv">Kaggle</a>.
<br>
**Reference:** https://www.analyticsvidhya.com/blog/2021/06/how-to-load-kaggle-datasets-directly-into-google-colab/

In [1]:
!pip install kaggle

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.64.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2022.9.24)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (6.1.2)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)

In [5]:
!mkdir ~/.kaggle

mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [6]:
!cp kaggle.json ~/.kaggle/

In [8]:
! chmod 600 ~/.kaggle/kaggle.json

In [10]:
! kaggle datasets download evangower/premier-league-matches-19922022?select=eplmatches.csv

404 - Not Found

In [11]:
! kaggle datasets download -d evangower/premier-league-matches-19922022

Downloading premier-league-matches-19922022.zip to /content
  0% 0.00/77.8k [00:00<?, ?B/s]
100% 77.8k/77.8k [00:00<00:00, 83.7MB/s]

In [12]:
! unzip premier-league-matches-19922022

Archive:  premier-league-matches-19922022.zip
  inflating: eplmatches.csv

# Importing packages

I will be using the following packages for analyzing the dataset.
* NumPy -- a fundamental package for scientific computing
* pandas -- a open source data analysis and manipulation tool
* matplotlib -- a comprehensive library for static, animated and interactive visualization
* seaborn -- a data visualization library based on matplotlib

In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# Importing Data

In [29]:
df = pd.read_csv("eplmatches.csv")

In [30]:
#  A sanity check
df.shape

(11646, 8)

# Data Preparation

In [19]:
df.head()

,Season_End_Year,Wk,Date,Home,HomeGoals,AwayGoals,Away,FTR
0,1993,1,1992-08-15,Coventry City,2,1,Middlesbrough,H
1,1993,1,1992-08-15,Leeds United,2,1,Wimbledon,H
2,1993,1,1992-08-15,Sheffield Utd,2,1,Manchester Utd,H
3,1993,1,1992-08-15,Crystal Palace,3,3,Blackburn,D
4,1993,1,1992-08-15,Arsenal,2,4,Norwich City,A

## Selecting data from the last decade (2011-2022)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11646 entries, 0 to 11645
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Season_End_Year  11646 non-null  int64
 1   Wk               11646 non-null  int64
 2   Date             11646 non-null  object
 3   Home             11646 non-null  object
 4   HomeGoals        11646 non-null  int64
 5   AwayGoals        11646 non-null  int64
 6   Away             11646 non-null  object
 7   FTR              11646 non-null  object
dtypes: int64(4), object(4)
memory usage: 728.0+ KB

In [34]:
df = df[(df.Season_End_Year>=2011) & (df.Season_End_Year<=2022)]

In [35]:
# A sanity check
df.Season_End_Year.head(), df.Season_End_Year.tail()

(7086    2011
 7087    2011
 7088    2011
 7089    2011
 7090    2011
 Name: Season_End_Year, dtype: int64, 11641    2022
 11642    2022
 11643    2022
 11644    2022
 11645    2022
 Name: Season_End_Year, dtype: int64)

In [36]:
df.head()

,Season_End_Year,Wk,Date,Home,HomeGoals,AwayGoals,Away,FTR
7086,2011,1,2010-08-14,Bolton,0,0,Fulham,D
7087,2011,1,2010-08-14,Wigan Athletic,0,4,Blackpool,A
7088,2011,1,2010-08-14,Tottenham,0,0,Manchester City,D
7089,2011,1,2010-08-14,Aston Villa,3,0,West Ham,H
7090,2011,1,2010-08-14,Chelsea,6,0,West Brom,H